/*ブログ名*/
#title a{
  /*color:#ffffff;*/
  text-align: left;
  font-family: "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  padding-top: 10px !important;/* タイトル位置・上からの高さ */
}


/* 小見出し */
.entry-content h5{
color:#4d260b;
padding:10px 10px;
border-bottom:3px solid #db7093;
}

/* 中見出し */
.entry-content h4{
color:#4d260b;
padding:10px 10px;
border-left:10px solid #db7093;
border-bottom:3px solid #db7093;
}

/* 大見出し */
.entry-content h3{
color:#4d260b;
background:#ffeae6;
padding:15px 15px;
}

.entry-content h2{
  text-align: left;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #ff7f50;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

/* タイトル画像上下の余白を取る */
/*背景色設定*/
#blog-title {
    margin: 0 0;
    padding: 0 0;
    height: 120px;
}

#menu-inner{ 
  width:100%;
}

/* 文字色 、サイズ*/
.entry-content {
  color: #4d260b;
  font-size:17px;
}

/* 見出し文字色 */
h1.entry-title a{
    color: #4d260b;
  /*color:linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);*/
}

.entry-content h1,
.entry-content h1:before,
.entry-content h1 { 
    color:linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
}

/* 記事一覧文字色 */
.archive-entry{
    color: #4d260b;
}

/* タグ */
.categories a,
.page-archive .categories a{
    background: #f5f5f5; /*背景色*/
    color: #4d260b; /*文字色*/
    border-radius: 0.2em; /*角丸*/
}

/* ### スライドメニュー ### */
#gnav {
	background: #ffffff;
	font-size: 0;
	margin-top: 0;
	padding: 0 0 0;
}
#gnav .menu a {
	display: block;
	color: #503830;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 11px 0px;
	height: 40px;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
}
#gnav .gnav-inner {
	width: 100%;
	height: 38px;
	padding: 0 10px;
	overflow-x: auto;
	overflow-y: hidden;
	box-sizing: border-box;
	text-align: center;
	white-space: nowrap;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
#gnav .menu {
	display: inline-block;
}
/* ### スライドメニューを横いっぱいに広げる ### */
#top-editarea .section {
	width: 100% !important;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0em;
}
/* ### スライドメニュー ここまで### */

/*フォントの設定 */
body {
font-family: "メイリオ", Meiryo, "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}

body {
  padding: 0 !important;  /* 「アンカー広告」がページを押し下げないように指定 */
}


/*シェアボタンその２*/
/* 回り込み解除のためのクラス */
.clearfix{
    zoom:1;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    visibility:hidden;
}

/* サークルのスタイル */
.sns_circle{
    position:relative;
    width: 50px;
    height: 50px;
    margin:0 3px 0 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #999;
    float:left;
    list-style: none;
}

/* Webフォントに関する指定 */
.sns_circle span{
    position:absolute;
    font-size:35px;
    color:#FFF;
}

/* Webフォントに関する指定(読者になる) */
.sns_circle.hatena.sns_circle span{
    position:absolute;
    padding:12px 0 0 8px;
    color:#FFF;
    font-size: 30px;
}

/* Webフォントに関する指定(はてぶ) */
.sns_circle.hatebu.sns_circle span{
    position:absolute;
    padding:8px 0 0 8px;
    color:#FFF;
    font-size: 30px;
}

/* Webフォントに関する指定(Twitter) */
.sns_circle.twitter.sns_circle span{
    position:absolute;
    padding:8px 0 0 8px;
    color:#FFF;
}

/* Webフォントに関する指定(Facebook) */
.sns_circle.facebook.sns_circle span{
    position:absolute;
    padding:8px 0 0 18px;
    color:#FFF;
}

/* Webフォントに関する指定(Google+) */
.sns_circle.googleplus.sns_circle span{
    position:absolute;
    padding:10px 0 0 14px;
    color:#FFF;
    font-size: 30px;
}

/* Webフォントに関する指定(Pocket) */
.sns_circle.pocket.sns_circle span{
    position:absolute;
    padding:12px 0 0 12px;
    font-size: 28px;
    color:#FFF;
}

/* リンク領域をブロック全体に */
.sns_circle a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-999px;
    color:#FFF;
}

/* マウスオーバー時のスタイル */
.sns_circle a:hover{
    background-color:#FFF;
    opacity: 0.5;
}

/* シェアボタンエリア */
ul.circle_group{
    width: 280px;
    margin:0;
    list-style: none;
    padding:0;
}

/* Font Awesome hatena bookmark（手作り） */
.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
}

/* アイコン毎の配色と配置 */
.sns_circle.hatebu{
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
    /*background-color: #006fbb;*/
}
.sns_circle.twitter{
    /*background-color: #00acec;*/
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.sns_circle.facebook{
    /*background-color: #265a96;*/
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.sns_circle.googleplus{
	background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    /*background-color: #dd4b39;*/
}
.sns_circle.pocket{
	background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    /*background-color: #EE4256;*/
}
/*シェアボタンその２*/

/*記事一覧をふわっと*/
.page-index .entry:hover { 
box-shadow: 0 15px 30px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1); 
transform: translateY(-4px); 
transition: 0.2s; 
background: #fff; 
}
/*記事一覧をふわっと*/

/*読者になるボタン*/
.subscribe-button {
  margin: 1em 0;
}
.subscribe-button a {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #70BBC1; /* ここでボタンの色 */
  box-shadow: 0 4px #00606D; /* ここでボタンの影の部分の色 */
  border-radius: 4px;
  transition: all .3s;
}
.subscribe-button a:hover {
  transform: translateY(4px);
  box-shadow: 0 0 #999;
}


/* 引用 */
blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: solid 2px #464646;
    color: #464646;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #808080;
    font-size: 25px;
    line-height: 1;
    font-weight: 900;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}
/* 引用ここまで */


/*スライダー*/
/* はてなブログ用コメント

デザイン ＞ カスタマイズ ＞ デザインCSS 内に挿入

*/

/* フォントサイズ等は適宜調整していただいて構いません。 */

/* スライダー設定 */
/*.bx-wrapper{margin:0 auto;}

.bx-wrapper .bx-caption span{
    font-size:60%!important;
    padding:5px!important;
    line-height: 1.3em;
}

.slider div {
  display: none;
}
.bx-viewport .slider div {
  display: block !important;
}*/

/*スライダー*/



/* ### 一覧カスタマイズ ### */
/* ### 日付(〇日前)の囲みとアイコンの追加 ### */
.list-entry-article .entry-footer-time {
  position: relative;
  color: #ffffff; /*文字色*/
  background: #ffd700; /*日付の背景色*/
  font-weight:700; /*文字の太さ*/
  padding: 3px 10px 3px 23px;/*日付の文字まわりのスペース*/
}
.list-entry-article .entry-footer-time:before{
  font-family: FontAwesome;
  content: "\f017"; /*アイコンのユニコード*/
  position: absolute;
  left: 0;
  top: 0;
  padding:0 8px;
  color: #fff; /*アイコンの色*/
}
/* ### 日付の囲みとアイコンの追加 ### */
.date{
  position: relative;
  color: #4d260b; /*文字色*/
  background: #ffffff;  /*背景色*/
  padding: 1px 10px 0px 28px;
}
.date:before{
  font-family: FontAwesome;
  content: "\f272"; /*アイコンのユニコード*/
  position: absolute;
  left: 0;
  top: 0;
  padding:1px 10px;
  color: #4d260b;　/*アイコンの色*/
}
/* ### サムネイルの大きさ調整 + 色で囲む ### */
.list-entry-article .thumb-image {
  width:70px;
  height:70px;
  border-radius: 0em;
  border: solid 3px #3f3f3f;　/*色で囲む*/
}
/* ### 余白を小さくしてコンパクトに ### */
.list-entry-article {
  padding: 5px 0 !important;
}
/* ### 記事一覧のタイトルの文字の大きさを小さく ### */
.list-entry-article .entry-title{
  font-size: 15px;
}
/* ### 記事と記事の間の線 ### */
.list-entry-article {
  border-bottom: 3px dashed #F3F3F3; /* 破線にする */
  padding: 0 0;　/* 余白を減らす */
}
/* ### 記事一覧の概要欄の行間を小さく ### */
.entry-list p{
  line-height: 18px !important;
}
/* ### 一覧カスタマイズここまで### */


/* はてなブログ不要メニュー削除 */
/* 上へボタンの非表示 */
.pagetop {display: none;}
/* フッターメニューの非表示 */
#footer-menu {display:none;}
/* はてなの各種リンクの非表示 */
.touch-item-list{display:none;}
/* プロフィールの非表示 */
.hatena-module.profile {display: none;}
/* フッターの管理ボタン等の非表示 */
.footer-action-wrapper{display:none;}
/* はてなブログ不要メニュー削除ここまで*/


/* マーカー線・ピンク */
.marker14{
background:linear-gradient(transparent 75%, #ffc0cb 75%);
font-weight:bold; 
}

/* サイドバー文字色 */
#box2-inner {
    color:#4d260b;
}


/* 記事下プロフィールカード */

.entry-footer-profile {
    border: 1px solid #f5f5f5;/* 枠線 */
    border-top: 5px solid #f5f5f5;/* トップのライン線 */
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
}

.entry-footer-profile-title {
    color: #454545;/* プロフィールタイトル文字色 */
    font-size: 110%;
    font-weight: bold;
    padding: .5em 0 .5em .75em;
    /* プロフィールタイトル背景 */
    background: -moz-linear-gradient(0deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
    background: -webkit-linear-gradient(0deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
    background: repeating-linear-gradient(90deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
}

.entry-footer-profile-body {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.entry-footer-profile-left {
    width: 20%;
    padding: 20px;
}

.entry-footer-profile-right {
    width: 80%;
    padding: 20px 20px 20px 0;
}

.entry-footer-profile-icon {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.entry-footer-profile-id {
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
.entry-footer-profile-description {
    margin-bottom: 10px;
}
/* スマートフォン */
@media only screen and (max-width: 767px) {
  .entry-footer-profile-body {
      -webkit-flex-wrap: nowrap; 
      flex-wrap: wrap;
  }
    .entry-footer-profile-left {
      width: 100%;
      padding: 20px 20px 0 20px;
    }
    .entry-footer-profile-right {
      width: 100%;
      padding: 0 20px 20px 20px;
  }
}
/* フォローボタン */

/*フッターメニューカード*/
.entry-footer-follow-buttons {
    text-align: center;
    margin-top: 0;
    width: 100%;
}

.entry-footer-follow-buttons a {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.entry-footer-follow-buttons .inner-text {
    font-size: 13px;
    display: block;
}

.entry-footer-follow-buttons .lg, .content-inner-follow-buttons .fa {
    padding: 15px;
    border-radius: 5px;
    margin: 2px auto;
}

.entry-footer-follow-buttons .hatena {
    color: #38393C;
    background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-hatenablog {
    background: #38393C;
    color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-hatenablog:hover {
    background: #5F6063;
}

.entry-footer-follow-buttons .facebook {
    color: #305097;
    background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-facebook {
    background: #305097;
    color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-facebook:hover {
    background: #5A77B7;
}

.entry-footer-follow-buttons .twitter {
    color: #55acee;
    background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-twitter {
    background: #55acee;
    color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-twitter:hover {
    background: #89C7F7;
}

.entry-footer-follow-buttons .instagram {
    color: #D93177;
    background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-instagram {
    background: #D93177;
    color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-instagram:hover {
    background: #df528d;
}

.entry-footer-follow-buttons .feedly {
    color: #6cc655;
    background-color: transparent;
}

.entry-footer-follow-buttons .blogicon-rss {
    background: #6cc655;
    color: #ffffff;
}

.entry-footer-follow-buttons .blogicon-rss:hover {
    background: #8EDC7A;
}
/*フッターメニューカード*/

/* フッター */
#footer {
    background: #f5f5f5; /*背景色*/
    text-align: center;
    word-wrap: break-word;
    padding:20px 5px 20px;
}
.footer small {
    color: #4d260b !important; /*文字色*/
    line-height: 1.3;
    /*font-size: 75%;*/
    font-size: 14px;
    font-weight:600;
}
.footer a{
    color:#4d260b; /*文字色*/
}
#pagetop{
    background:#f5f5f5;
    text-align:center;
    padding:8px 0;
    margin:0 -11px;
}
#backtotop{
    font-weight: 500;
     color:#4d260b !important; /*文字色*/
}
#bottom-editarea .section {
    width: 93.75%;
    background: #e6fbff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
/* フッター */

/*コピーライト*/
#copyright {
  padding: 20px;
  text-align: center;
  background: #f5f5f5;/*背景色*/
  font-size: 14px;
  color:#4d260b;/*文字の色*/
}

/* 
@media (max-width: 480px) {
  .header-image-enable #blog-title #blog-title-inner {
    background-size: auto 120px;
    height: 120px;
  }
  .header-image-enable #title {
    padding-top: 30px;
  }
  .entry-content p {
    font-size: 20px;
  }
}
*/
/*日付を消す*/
/*.date {
display: none;
}
*/

/*読者になるボタン*/
.content-inner-follow-buttons{
width: 100%;
text-align: center;
letter-spacing: -.40em;
}
.content-inner-follow-buttons .follow-title {
letter-spacing: normal;
width:100%;
}
.content-inner-follow-buttons a {
display: inline-block;
letter-spacing: normal;
position: relative;
width: 60%;
font-size: 18px;
text-align: center;
text-decoration: none;
padding:20px 0;
margin:3px;
overflow: hidden;
z-index:2;
}
.content-inner-follow-buttons .inner-text {
font-size:16px;
padding-left:5px;
}
.content-inner-follow-buttons .hatena {
color: #38393C;
border: 1px solid #38393C;
background: #ffffff;
}
.content-inner-follow-buttons a:hover {
color:#fff;
transition: all .3s;
}
.content-inner-follow-buttons a:after {
position:absolute;
content:'';
width:100%;
height:100%;
top:-100%;
left:0;
z-index:-1;
transition: 0.2s;
}
.content-inner-follow-buttons .hatena:hover:after {
top:0;
background:#38393C;
}

/* 吹き出しのCSS　*/
.entry-content .l-fuki,
.entry-content .r-fuki {
position: relative;
width: 80%;
box-sizing: border-box;
-webkit-box-sizing: border-box;
padding: 20px;
border-radius: 6px;
border: 2px solid #999;
box-shadow: 1px 1px 5px #aaa;
background-color: #fff;
z-index: 1;
}
.entry-content .l-fuki {
margin: 20px 20% 40px 0;
}
.entry-content .r-fuki {
margin: 20px 0 40px 19%;
}
.entry-content .l-fuki::before,
.entry-content .r-fuki::before {
position: absolute;
content: "";
top: 16px;
width: 10px;
height: 10px;
border-right: 2px solid #999;
border-bottom: 2px solid #999;
background-color: #fff;
z-index: 2;
}
.entry-content .l-fuki::before {
right: -7px;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.entry-content .r-fuki::before {
left: -7px;
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
position: absolute;
content: "";
width: 80px;
height: 80px;
top: -10px;
border-radius: 40px;
border: 3px solid #fff;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
box-shadow: 1px 1px 5px #aaa;
}
.entry-content .l-fuki::after {
right: -110px;
}
.entry-content .r-fuki::after {
left: -110px;
}
@media screen and (max-width: 620px) {
.entry-content .l-fuki,
.entry-content .r-fuki 
width: 70%
}
.entry-content .l-fuki {
margin-right: 30%;
}
.entry-content .r-fuki {
margin-left: 20%;
}
}
@media screen and (max-width: 478px) {
.entry-content .l-fuki::after,
.entry-content .r-fuki::after {
width: 60px;
height: 60px;
border-radius: 30px;
}
.entry-content .l-fuki::after {
right: -84px;
}
.entry-content .r-fuki::after {
left: -84px;
}
}
.mentsuyu::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/mentsuyu-san/20190315/20190315203646.png);}
.sen::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/mentsuyu-san/20190316/20190316122802.png);}
.dog::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/mentsuyu-san/20190604/20190604213845_120.jpg);}
.sen2::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/mentsuyu-san/20190609/20190609145055_120.jpg);}
.are::after {background-image:url(https://cdn-ak.f.st-hatena.com/images/fotolife/m/mentsuyu-san/20190702/20190702221644.png);}
<sytle>


/*=================================================================================
カエレバ・ヨメレバ・トマレバ
=================================================================================*/
.cstmreba {
width:98%;
height:auto;
margin:36px auto;
font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Helvetica, Meiryo, sans-serif;
line-height: 1.5;
word-wrap: break-word;
box-sizing: border-box;
display: block;
}
.cstmreba a {
transition: 0.8s ;
color:#285EFF; /* テキストリンクカラー */
}
.cstmreba a:hover {
color:#FFCA28; /* テキストリンクカラー(マウスオーバー時) */
}
.cstmreba .booklink-box,
.cstmreba .kaerebalink-box,
.cstmreba .tomarebalink-box {
width: 100%;
background-color: #fafafa; /* 全体の背景カラー */
overflow: hidden;
border-radius: 0px;
box-sizing: border-box;
padding: 12px 8px;
box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26);
}
/* サムネイル画像ボックス */
.cstmreba .booklink-image,
.cstmreba .kaerebalink-image,
.cstmreba .tomarebalink-image {
width:150px;
float:left;
margin:0 14px 0 0;
text-align: center;
background: #fff;
}
.cstmreba .booklink-image a,
.cstmreba .kaerebalink-image a,
.cstmreba .tomarebalink-image a {
width:100%;
display:block;
}
.cstmreba .booklink-image a img,
.cstmreba .kaerebalink-image a img,
.cstmreba .tomarebalink-image a img {
margin:0 ;
padding: 0;
text-align:center;
background: #fff;
}
.cstmreba .booklink-info,.cstmreba .kaerebalink-info,.cstmreba .tomarebalink-info {
overflow:hidden;
line-height:170%;
color: #333;
}
/* infoボックス内リンク下線非表示 */
.cstmreba .booklink-info a,
.cstmreba .kaerebalink-info a,
.cstmreba .tomarebalink-info a {
text-decoration: none;
}
/* 作品・商品・ホテル名 リンク */
.cstmreba .booklink-name>a,
.cstmreba .kaerebalink-name>a,
.cstmreba .tomarebalink-name>a {
border-bottom: 1px solid ;
font-size:16px;
}
/* タイトル下にPタグ自動挿入された際の余白を小さく */
.cstmreba .kaerebalink-name p,
.cstmreba .booklink-name p,
.cstmreba .tomarebalink-name p {
margin: 0;
}
/* powered by */
.cstmreba .booklink-powered-date,
.cstmreba .kaerebalink-powered-date,
.cstmreba .tomarebalink-powered-date {
font-size:10px;
line-height:150%;
}
.cstmreba .booklink-powered-date a,
.cstmreba .kaerebalink-powered-date a,
.cstmreba .tomarebalink-powered-date a {
color:#333;
border-bottom: none ;
}
.cstmreba .booklink-powered-date a:hover,
.cstmreba .kaerebalink-powered-date a:hover,
.cstmreba .tomarebalink-powered-date a:hover {
color:#333;
border-bottom: 1px solid #333 ;
}
/* 著者・住所 */
.cstmreba .booklink-detail,.cstmreba .kaerebalink-detail,.cstmreba .tomarebalink-address {
font-size:12px;
}
.cstmreba .kaerebalink-link1 div img,.cstmreba .booklink-link2 div img,.cstmreba .tomarebalink-link1 div img {
display:none !important;
}
.cstmreba .kaerebalink-link1, .cstmreba .booklink-link2,.cstmreba .tomarebalink-link1 {
display: inline-block;
width: 100%;
margin-top: 5px;
}
.cstmreba .booklink-link2>div,
.cstmreba .kaerebalink-link1>div,
.cstmreba .tomarebalink-link1>div {
float:left;
width:24%;
min-width:128px;
margin:0.5%;
}
/***** ボタンデザインここから ******/
.cstmreba .booklink-link2 a,
.cstmreba .kaerebalink-link1 a,
.cstmreba .tomarebalink-link1 a {
width: 100%;
display: inline-block;
text-align: center;
box-sizing: border-box;
margin: 1px 0;
padding:3% 0.5%;
border-radius: 8px;
font-size: 13px;
font-weight: bold;
line-height: 180%;
color: #fff;
box-shadow: 0px 2px 4px 0 rgba(0,0,0,.26);
}
/* トマレバ */
.cstmreba .tomarebalink-link1 .shoplinkrakuten a {background: #76ae25; border: 2px solid #76ae25; }/* 楽天トラベル */
.cstmreba .tomarebalink-link1 .shoplinkjalan a { background: #ff7a15; border: 2px solid #ff7a15;}/* じゃらん */
.cstmreba .tomarebalink-link1 .shoplinkjtb a { background: #c81528; border: 2px solid #c81528;}/* JTB */
.cstmreba .tomarebalink-link1 .shoplinkknt a { background: #0b499d; border: 2px solid #0b499d;}/* KNT */
.cstmreba .tomarebalink-link1 .shoplinkikyu a { background: #bf9500; border: 2px solid #bf9500;}/* 一休 */
.cstmreba .tomarebalink-link1 .shoplinkrurubu a { background: #000066; border: 2px solid #000066;}/* るるぶ */
.cstmreba .tomarebalink-link1 .shoplinkyahoo a { background: #ff0033; border: 2px solid #ff0033;}/* Yahoo!トラベル */
.cstmreba .tomarebalink-link1 .shoplinkhis a { background: #004bb0; border: 2px solid #004bb0;}/*** HIS ***/
/* カエレバ */
.cstmreba .kaerebalink-link1 .shoplinkyahoo a {background:#ff0033; border:2px solid #ff0033; letter-spacing:normal;} /* Yahoo!ショッピング */
.cstmreba .kaerebalink-link1 .shoplinkbellemaison a { background:#84be24 ; border: 2px solid #84be24;}	/* ベルメゾン */
.cstmreba .kaerebalink-link1 .shoplinkcecile a { background:#8d124b; border: 2px solid #8d124b;} /* セシール */
.cstmreba .kaerebalink-link1 .shoplinkkakakucom a {background:#314995; border: 2px solid #314995;} /* 価格コム */
/* ヨメレバ */
.cstmreba .booklink-link2 .shoplinkkindle a { background:#007dcd; border: 2px solid #007dcd;} /* Kindle */
.cstmreba .booklink-link2 .shoplinkrakukobo a { background:#bf0000; border: 2px solid #bf0000;} /* 楽天kobo */
.cstmreba .booklink-link2  .shoplinkbk1 a { background:#0085cd; border: 2px solid #0085cd;} /* honto */
.cstmreba .booklink-link2 .shoplinkehon a { background:#2a2c6d; border: 2px solid #2a2c6d;} /* ehon */
.cstmreba .booklink-link2 .shoplinkkino a { background:#003e92; border: 2px solid #003e92;} /* 紀伊國屋書店 */
.cstmreba .booklink-link2 .shoplinktoshokan a { background:#333333; border: 2px solid #333333;} /* 図書館 */
/* カエレバ・ヨメレバ共通 */
.cstmreba .kaerebalink-link1 .shoplinkamazon a,
.cstmreba .booklink-link2 .shoplinkamazon a {
background:#FF9901;
border: 2px solid #ff9901;
} /* Amazon */
.cstmreba .kaerebalink-link1 .shoplinkrakuten a,
.cstmreba .booklink-link2 .shoplinkrakuten a {
background: #bf0000;
border: 2px solid #bf0000;
} /* 楽天 */
.cstmreba .kaerebalink-link1 .shoplinkseven a,
.cstmreba .booklink-link2 .shoplinkseven a {
background:#225496;
border: 2px solid #225496;
} /* 7net */
/****** ボタンカラー ここまで *****/
/***** ボタンデザイン　マウスオーバー時ここから *****/
.cstmreba .booklink-link2 a:hover,
.cstmreba .kaerebalink-link1 a:hover,
.cstmreba .tomarebalink-link1 a:hover {
background: #fff;
}
/* トマレバ */
.cstmreba .tomarebalink-link1 .shoplinkrakuten a:hover { color: #76ae25; }/* 楽天トラベル */
.cstmreba .tomarebalink-link1 .shoplinkjalan a:hover { color: #ff7a15; }/* じゃらん */
.cstmreba .tomarebalink-link1 .shoplinkjtb a:hover { color: #c81528; }/* JTB */
.cstmreba .tomarebalink-link1 .shoplinkknt a:hover { color: #0b499d; }/* KNT */
.cstmreba .tomarebalink-link1 .shoplinkikyu a:hover { color: #bf9500; }/* 一休 */
.cstmreba .tomarebalink-link1 .shoplinkrurubu a:hover { color: #000066; }/* るるぶ */
.cstmreba .tomarebalink-link1 .shoplinkyahoo a:hover { color: #ff0033; }/* Yahoo!トラベル */
.cstmreba .tomarebalink-link1 .shoplinkhis a:hover { color: #004bb0; }/*** HIS ***/
/* カエレバ */
.cstmreba .kaerebalink-link1 .shoplinkyahoo a:hover {color:#ff0033;} /* Yahoo!ショッピング */
.cstmreba .kaerebalink-link1 .shoplinkbellemaison a:hover { color:#84be24 ; }	/* ベルメゾン */
.cstmreba .kaerebalink-link1 .shoplinkcecile a:hover { color:#8d124b; } /* セシール */
.cstmreba .kaerebalink-link1 .shoplinkkakakucom a:hover {color:#314995;} /* 価格コム */
/* ヨメレバ */
.cstmreba .booklink-link2 .shoplinkkindle a:hover { color:#007dcd;} /* Kindle */
.cstmreba .booklink-link2 .shoplinkrakukobo a:hover { color:#bf0000; } /* 楽天kobo */
.cstmreba .booklink-link2 .shoplinkbk1 a:hover { color:#0085cd; } /* honto */
.cstmreba .booklink-link2 .shoplinkehon a:hover { color:#2a2c6d; } /* ehon */
.cstmreba .booklink-link2 .shoplinkkino a:hover { color:#003e92; } /* 紀伊國屋書店 */
.cstmreba .booklink-link2 .shoplinktoshokan a:hover { color:#333333; } /* 図書館 */
/* カエレバ・ヨメレバ共通 */
.cstmreba .kaerebalink-link1 .shoplinkamazon a:hover,
.cstmreba .booklink-link2 .shoplinkamazon a:hover {
color:#FF9901; } /* Amazon */
.cstmreba .kaerebalink-link1 .shoplinkrakuten a:hover,
.cstmreba .booklink-link2 .shoplinkrakuten a:hover {
color: #bf0000; } /* 楽天 */
.cstmreba .kaerebalink-link1 .shoplinkseven a:hover,
.cstmreba .booklink-link2 .shoplinkseven a:hover {
color:#225496;} /* 7net */
/***** ボタンデザイン　マウスオーバー時ここまで *****/
.cstmreba .booklink-footer {
clear:both;
}
/*****  解像度768px以下のスタイル *****/
@media screen and (max-width:768px){
.cstmreba .booklink-image,
.cstmreba .kaerebalink-image,
.cstmreba .tomarebalink-image {
width:100%;
float:none;
}
.cstmreba .booklink-link2>div,
.cstmreba .kaerebalink-link1>div,
.cstmreba .tomarebalink-link1>div {
width: 32.33%;
margin: 0.5%;
}
.cstmreba .booklink-info,
.cstmreba .kaerebalink-info,
.cstmreba .tomarebalink-info {
text-align:center;
padding-bottom: 1px;
}
}
/*****  解像度480px以下のスタイル *****/
@media screen and (max-width:480px){
.cstmreba .booklink-link2>div,
.cstmreba .kaerebalink-link1>div,
.cstmreba .tomarebalink-link1>div {
width: 49%;
margin: 0.5%;
}
}
</sytle>